<div>
    <div>
        <h6>Categories</h6>
        <hr>
        <div *ngFor="let category of categories;index as i" class="custom-control custom-radio m-2" >
            <input type="radio" value="{{category._id}}" id="a{{i}}" name="category" class="custom-control-input">
            <label (click)="selctedId(category._id)" class="custom-control-label" for="a{{i}}">{{category.name}}</label>
        </div>
        
    </div>
    <div>
        <hr>
        <h6>Price</h6>
        <select #minPrice name="min" class="form-control mb-2" id="" (change)="maxOption(minPrice.value)">
            <option value="100">--Slect Min value--</option>
            <option *ngFor="let m of min" value="{{m}}">{{m}}</option>
        </select>
        <select #maxPrice name="max" class="form-control mb-2" id="">
            <option value="100">--Slect Max value--</option>
            <option *ngFor="let m of max" value="{{m}}">{{m}}</option>
        </select>
        <div>
            <button (click)="filter(minPrice.value,maxPrice.value)" class="btn btn-block btn-light border">filter</button>
        </div>
       
    </div>

</div>