<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">E-shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Store <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Admin dashboard</a>
            </li>
        </ul>
        <ul class=" navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link disabled" routerLink="/order" tabindex="-1" aria-disabled="true">order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" routerLink="/cart" tabindex="-1" aria-disabled="true">cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" routerLink="/login" tabindex="-1" aria-disabled="true">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" routerLink="/signup" tabindex="-1" aria-disabled="true">Sign up</a>
            </li>

        </ul>
    </div>
</nav>